<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- <link rel='stylesheet' href='/stylesheets/bulma.min.css' /> -->
  </head>

  <div class="navigation">
	  <ul class="nav justify-content-center">
			<li class="nav-item">
			  <a class="nav-link active" href="/simulation/add">Anadir Simulacion</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="#"">Ver simulaciones</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="#">Borrar Simulaciones</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link disabled" href="#">Disabled</a>
			</li>
			</ul>
		<br><br>
	</div>