  <%- include('header'); -%>
  <body>

    <!-- <form action=""> -->
  <div class="container">
    <div class="col align-items-center">
<!-- 		    <h1><%= title %></h1>
		    <p>Welcome to <%= title %></p> -->
				<div >
							
				<!-- 	<div class="form-group col">
					  <div class="control">
					    <input type="text" id="simulationName" placeholder="nombre simulacion" class="form-control" required>
					  </div>
					</div> -->
					<div class="form-group col">
						<div class="input-group mb-3">
						  <div class="input-group-prepend">
						    <label class="input-group-text" for="inputGroupSelect01">Simulacion</label>
						  </div>
						  <select class="custom-select" id="id_simulation">
						    <option selected>Choose...</option>
						  	 <% max.forEach(function(id){ %>
						    		<option value="<%= id %>">Sim. <%= id %></option>
								  <% }); %>
						  </select>
						  <input type="text" class="form-control" id="quantum" placeholder="quantum">
						</div>

	    		<input type="submit" onclick="updateSimulation()" class="btn btn-primary" value="Actualizar">
					</div>
			
				</div>
  		<!-- </div>	 -->
    	<!-- </section> -->
    <!-- </form> -->


    </div>
    </div>
  <!-- </section> -->

<!-- <div class="section"> -->
<!-- </div> -->
    <script>
    function	updateSimulation(){
	    let id = document.getElementById('id_simulation').value
	    let quantum = document.getElementById('quantum').value
	    if(!id || !quantum) return alert('algun campo vacio')
    	fetch('/simulation/add', {
			  method: 'post',
			  headers: {
			    'Accept': 'application/json, text/plain, */*',
			    'Content-Type': 'application/json'
			  },
			  body: JSON.stringify({
					"id":id,
					"quantum":quantum,
				})
			}).then(res=>console.log(res))
	    // 	.then(res=>res.json())
			  // .then(res => console.log(res));
    }
    </script>
    <%- include('footer'); -%>
  </body>

</html>
